In [2]:
#Week V
#Dictionaries

phonebook = {}
phonebook["John"] = "938477566"
phonebook["Jack"] = "938377264"
phonebook["Jill"] = "947662781"
print(phonebook)

{'John': '938477566', 'Jack': '938377264', 'Jill': '947662781'}

In [3]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

phonebook

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [5]:
phonebook["Jack"]

938377264

In [6]:
phonebook.keys()

dict_keys(['John', 'Jack', 'Jill'])

In [7]:
phonebook.values()

dict_values([938477566, 938377264, 947662781])

In [8]:
phonebook.items()

dict_items([('John', 938477566), ('Jack', 938377264), ('Jill', 947662781)])

In [9]:
#Iterating over dictionaries

phonebook = {"John" : 938477566,"Jack" : 93877264,"Jill": 947662781}
for name,number in phonebook.items():
    print("Phone number of %s is %d" %(name,number))
print("\n")
for name in phonebook.keys():
    print("Phone Number of %s is %d" %(name, phonebook[name]))
print("\n")
for number in phonebook.values():
    print("Phone number of %s is %d" %(name,number))

Phone number of John is 938477566
Phone number of Jack is 93877264
Phone number of Jill is 947662781


Phone Number of John is 938477566
Phone Number of Jack is 93877264
Phone Number of Jill is 947662781


Phone number of Jill is 938477566
Phone number of Jill is 93877264
Phone number of Jill is 947662781

In [10]:
#Removing a value

phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [11]:
#Alternatively

phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

val = phonebook.pop("Jack")
print(phonebook)
val

{'John': 938477566, 'Jill': 947662781}

938377264

In [12]:
student = ["Jack","Jill","John"]
marks = [11,21,31]
list(zip(student,marks))

[('Jack', 11), ('Jill', 21), ('John', 31)]

In [13]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

phonebook["Jake"] = 938273443
del phonebook["Jill"]
print(phonebook)
print()

if "Jake" in phonebook:
    print("Jake is listed in the phonebook")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook")

{'John': 938477566, 'Jack': 938377264, 'Jake': 938273443}

Jake is listed in the phonebook
Jill is not listed in the phonebook

In [14]:
#List Comprehensions

sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [15]:
word_lengths = [len(word) for word in words if word != "the"]
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [16]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [17]:
numbers = [34.6, -203.4,44.9,68.3,-12.2,44.6,12.7]
newlist = []
print(newlist)

[]

In [18]:
#Dictionary Comprehemsions

squares = {i:i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [19]:
#sets

"my name is Eric and Eric is my name".split()

['my', 'name', 'is', 'Eric', 'and', 'Eric', 'is', 'my', 'name']

In [20]:
print(set("my name is Eric and Eric is my name".split()))

{'and', 'is', 'name', 'my', 'Eric'}

In [21]:
a = set(["Jake","John","Eric"])
b = set(["John","Jill"])

print(a.intersection(b))

{'John'}

In [22]:
print(a)
print(b)

{'Eric', 'Jake', 'John'}
{'Jill', 'John'}

In [1]:
a = set(["Jake","John","Eric"])
b = set(["John","Jill"])

print(a.union(b))
a|b

{'Eric', 'Jill', 'John', 'Jake'}

{'Eric', 'Jake', 'Jill', 'John'}

In [ ]:
#Exercise -----

a = {"Jake","John","Eric"}
b = {"John","Jill"}

attend = a.union(b)
print(attend)

{'Eric', 'Jill', 'John', 'Jake'}

In [6]:
#Tuples

info = ("John",85,1.24)
type(info)

tuple

In [7]:
info = "Eric",82,1.22
type(info)

tuple

In [8]:
name,roll,gpa = info
print(name)
print(roll)
print(gpa)

Eric
82
1.22

In [9]:
singleton = (1,)
type(singleton)

tuple

In [10]:
mylist = ["Ayush thapa","Ana Gurung","Basant Pradhan","Dristi Chettri"]
tuple(mylist)

('Ayush thapa', 'Ana Gurung', 'Basant Pradhan', 'Dristi Chettri')

In [11]:
#Accessing Tuple Element

info[0]

'Eric'

In [12]:
info[1:]

(82, 1.22)

In [13]:
info[-1]

1.22

In [14]:
for values in info:
    print(values)

Eric
82
1.22

In [15]:
#Tuple Methods

info.count("Eric")

1

In [16]:
info.index("Eric")

0